[phases.setup]
aptPkgs = [
  "libnss3",
  "libgconf-2-4",
  "libatk1.0-0",
  "libatk-bridge2.0-0",
  "libcups2",
  "libdbus-1-3",
  "libdrm2",
  "libxkbcommon0",
  "libxcomposite1",
  "libxdamage1",
  "libxfixes3",
  "libxrandr2",
  "libgbm1",
  "libxshmfence1",
  "libasound2",
  "fonts-liberation",
  "libgobject-2.0-0"
]
